{% load staticfiles %}
{% load filter %}
<center>
<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="prev"><a href="?page={{ page_obj.previous_page_number }}">«</a></li>
            <li><a href="?page=1">1</a></li>
        {% endif %}
        {% if 1|compare:page %}
            <li><a>...</a></li>
        {% endif %}

        <li class="active" ><a href="?page={{ page }}">{{ page }}</a></li>

        {% if num_pages|compare:page %}
            <li><a>...</a></li>
        {% endif %}
        {% if page_obj.has_next %}
            <li><a href="?page={{ num_pages }}">{{ num_pages }}</a></li>
            <li class="next"><a href="?page={{ page_obj.next_page_number }}">»</a></li>
        {% endif %}
    </ul>
</nav>
</center>